/* Search Page*/
.search-page {
  max-width: 1280px;
  margin: 0 auto;
  
}

/* Search banner */
.search-banner {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 20px;
  padding: 50px 40px;
}

/* Center content */
.search-banner-inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* Search Title */
.search-title {
  display: block;
  width: fit-content;
  margin: 0 auto 35px;
  padding: 2px 25px;
  background: rgba(195, 251, 255, 0.95);
  border-radius: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #000;
}

/* Search Panels */
.search-panels {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  gap: 50px;
  align-items: flex-start; 
}


/* Responsive */
@media (max-width: 900px) {
  .search-panels {
    grid-template-columns: 1fr;
  }

  .search-title {
    font-size: 24px;
  }
}
