/* Favourites Panel */
.favourites-float {
  width: 80%;
  max-width: 220px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.833);
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  transition: transform 0.2s, box-shadow 0.2s;
  top: 20px;
}

.favourites-float:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 28px rgba(0,0,0,0.2);
}

.favourites-float h3 {
  text-align: center;
  color: #000;
  font-size: 17px;
  margin-bottom: 12px;
  border-bottom: 2px solid rgba(157, 215, 241, 0.6);
  padding-bottom: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.empty {
  text-align: center;
  color: #555;
  font-style: italic;
  font-size: 14px;
}

.favourite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #c9e7eb;
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  font-size: 14px;
  transition: transform 0.2s, background-color 0.2s;
}

.favourite-item:hover {
  background-color:  #41cce7;
  transform: translateX(2px);
}

.favourite-text {
  font-size: 14px;
  color: #0b3c5d;
  font-weight: 500;
  margin-right: 5px;
  word-break: break-word;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #ff4c4c;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.remove-btn:hover {
  transform: scale(1.2);
}

.clear-container {
  text-align: center;
  margin-top: 12px;
  padding-bottom: 10px;
}

.clear-btn {
  background-color:  #41cce7;
  color: #fff;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 8px;
  width: 50%;;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.clear-btn:hover {
  background-color: #0e5d6d ;
  transform: scale(1.05);
}
