.footer {
  background-color: #f7f9fc;
  margin-top: 30px;
  padding-top: 0px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;       
  padding: 10px 20px 10px 80px;  
  display: flex;
  justify-content: center; 
  gap: 40px;                 
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}

.footer-section h4 {
  color: #41cce7;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  color: #555;
  font-size: 15px;
  margin-bottom: 6px;
  text-decoration: none;
  display: block;
}

.footer-section a:hover {
  color: #41cce7;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons img {
  width: 40px;   
  height: 40px;
  cursor: pointer;
  border-radius: 50%; 
  background-color: #ffffff; 
  padding: 8px;   
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);     
  background-color: #ffffff;  
}


.footer-bottom {
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #ddd;
}
