/*Property Card */
.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
}

/* Image container */
.image-container {
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* Favourite icon  */
.favourite-icon {
  position: absolute;
  bottom: 25px;  
  right: 12px;   
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.favourite-icon:hover {
  transform: scale(1.3);
}

.favourite-icon.added {
  color: #ff6b6b;
}

/* Card text */
.card h3 {
  color: #41cce7;
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
}

/* View Details button */
.card a {
  background-color:  #41cce7;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  width: 48%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
}

.card a:hover {
  background-color: #066d82;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
