
.search-form-card input,
.search-form-card select {
  background-color: #c6f3fc;
  color: black;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  width: 80%;
  border: none;
}

.search-form-card button {
  background-color:  #41cce7;
  color: #fff;
  font-weight: bold;
  padding: 12px;
  border-radius: 15px;
  width: 35%;;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-form-card button:hover {
  background-color: #084298;
  transform: translateY(-2px);
}

@media (min-width: 600px) {
  .search-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .search-form-grid button {
    grid-column: span 2;
  }
}
